<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

	<title th:text="#{application.title}">Exacode</title> 

	<!-- Twitter bootstrap - Latest compiled and minified CSS and optional theme -->
	<link th:href="@{/assets/css/bootstrap.min.css}" href="../../../assets/css/bootstrap.min.css" rel="stylesheet"></link>
	<link th:href="@{/assets/css/bootstrap-theme.min.css}" href="../../../assets/css/bootstrap-theme.min.css" rel="stylesheet"></link>
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script th:src="@{/assets/js/html5shiv.js}" src="../../../assets/js/html5shiv.js"></script>
		<script th:src="@{/assets/js/respond.min.js}" src="../../../assets/js/respond.min.js"></script>
	<![endif]-->
	
	<link th:href="@{/assets/css/application.css}" href="../../../assets/css/application.css" rel="stylesheet"></link>
	<link th:href="@{/assets/img/favicon.png}" href="../../../assets/img/favicon.png" rel="shortcut icon"></link>
</head>
<body>
	<div th:substituteby="layout/navbar :: navbar"></div>
	<div class="container">
		<div class="text-center text-danger">
			<div class="page-header">
				<h1><span th:text="#{'error.' + ${errorCode} + '.title'}">Error</span> <span class="glyphicon glyphicon-exclamation-sign"></span></h1> 
			</div> 
			<p class="lead" th:text="#{'error.' + ${errorCode} + '.content'}">Error description</p>
		</div> 
	</div>
	<div th:substituteby="layout/footer :: footer"></div>
	<!-- Titter Bootstrap - Compiled and minified JavaScript -->
	<script th:src="@{/assets/js/jquery.min.js}" src="../../../assets/js/jquery.min.js"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}" src="../../../assets/js/bootstrap.min.js"></script>
</body>
</html>