////////////////////////////////////////////
// Colors
////////////////////////////////////////////
$brand-color-dark: #34302d;
$brand-color-light: #FF5721;

////////////////////////////////////////////
// Fonts
////////////////////////////////////////////
$brand-font: 'Exo', "Helvetica Neue", Helvetica, Arial, sans-serif;